<% @posts.each do |p| %>
    <p>Title: <%=p.title %></p>
    <p>Content: <%=p.content %></p>
    <%= p.id%>
    <p> Username: <%= p.user.name%>
    <p>Country: <%= p.country.countries_name%>
    <br>
    <br>
    
    


    

<%end%>