<p> Title: <%= @post.title %></p>
<p> Content: <%= @post.content %></p>
<p>Username: <%=@post.user.name%> </p>

<a href= "<%=@post.id%>/edit">Edit Post</a>


<form method="post" action="/posts/<%= @post.id %>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete">
  
</form>
